<div class="container col-md-6">
    <form class="form-signin" (ngSubmit)="producto()" #loginForm="ngForm">
        <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{message}}
        </div>
        <h3 class="form-signin-heading">Agregar Producto</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" class="form-control" placeholder="titulo" [(ngModel)]="productoData.titulo" name="titulo" required/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" class="form-control" placeholder="autor" [(ngModel)]="productoData.autor" name="autor" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Enviar</button>
    </form>
</div>

<div class="container col-md-6">
    <h3>Producto Lista </h3> <button class="btn btn-success" (click)="logout()">Cerrar Sesion</button>
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.titulo }}</td>
                <td>{{ producto.autor }}</td>
            </tr>
        </tbody>
    </table>
</div>